html, body {
    height: 100%;
    background-color: darkgreen;
}

.sky {
    background-color: lightskyblue;
    background-image: url("/assets/images/cloud.png");
    background-repeat: no-repeat;
    background-position: center -35%;
    height: 60%;
    position: relative;
}

.answers {
    background-color: darkgreen;
    height: 20%;
    padding-bottom: 1%;
}

p {
    background-color: white;
    height: 100px;
    width: 100px;
    font-size: 75px;
    text-align: center;
}

p, [class="2"] {
    margin: auto;
}

p#correct {
    background-color: darkgreen;
    color: black;
    font-size: 40px;
}

a {
    height: 300px;
    width: 300px;
    background-color: white;
}

.image {
    height: 40%;
    position: fixed;
    bottom: 36%;
}

img {
    display: block;
    margin: auto;
    height: 75%;

}

.row {
    padding-top: 3%;
    margin: auto;
}

.race {
    background-color: black;
    height: 10%;
}

.complete {
    height: 70%;
    width: 80%;

}

.completeText {
    background-color: powderblue;
    margin: 1%;
    height: 160%;
    font-size: 45px;
    text-align: center;
}

.selectedWord {
    padding-top: 81px;
}

.mega {
    font-size: 85px;
}

.first {
    position: absolute;
    top: 73%;
    height: 12%;
}

.second {
    position: absolute;
    top: 78%;
    height: 12%;
}

.third {
    position: absolute;
    top: 81%;
    height: 12%;
}