<div class="night">
    <div class="row col-md-12 logo">
        <h1 class="heading">Half Moon Reading</h1>
        <img id="logo" src="/assets/images/HMRLogo copy.png">
    </div>

    <div  class="col-md-12">
        <h1>Welcome to Monster Dash!</h1>
    </div>
    <div class="col-md-offset-2 col-md-8">
        <h2>Pick your monster.</h2>
    </div>
</div>
    <div class="row pick">
        <div class="col-md-4">
            <a href="/game"><img ng-click="pickedMonsterFir()" src="/assets/images/runner.png"></a>
        </div>
        <div class="col-md-4">
            <a href="/game"><img ng-click="pickedMonsterSec()" src="/assets/images/sprinter.png"></a>
        </div>
        <div class="col-md-4">
            <a href="/game"><img ng-click="pickedMonsterThir()" src="/assets/images/flyer.png"></a>
        </div>
    </div>

